<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>

	<!-- 日付検索 -->
	<form th:action="@{/}" method="get"><br />
  		<th:label for="date">日付</label>
		<input type="date" name="startDate" id="startDate" th:value="${startDate}"  />
		<input type="date" name="endDate" id="endDate" th:value="${endDate}"  />

		<input type="submit" value="絞り込み" /> <br />
	<!-- </form>-->

	<a href="/new"><button type="button">新規投稿</button> </a>
	<!-- 投稿表示 -->
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>操作</th>
			<th>編集</th>
			<th>作成日</th>
			<th>コメント新規投稿</th>
			<th>コメント</th>
		</tr>
		<tr th:each="content : ${contents}">
			<!-- ID -->
			<td th:text="${content.id}" >
			<!-- 内容 -->
			<td th:text="${content.content}">
			<!-- 削除操作 -->
			<td>
                <form th:action="@{/delete/{id}(id = ${content.id})}" th:method="delete">
                    <input th:onclick="return confirm('本当に削除しますか？')" type="submit" value="削除" />
                </form>
            </td>
            <!-- 編集操作 -->
            <td>
            <a th:href="@{/edit/{id}(id=${content.id})}">
			<button type="button">編集</button></a>
			</td>

			<!-- 作成日 -->
			<!--<td th:text="${#calendars.format(#calendars.createNow(), 'yyyy/MM/dd HH:mm:ss')}"></td>-->

			<td th:text="${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}"></td>


			<!--<div class="date"><fmt:formatDate value="${message.createdDate}" pattern="yyyy/MM/dd HH:mm:ss" /></div>-->


			<!-- コメント新規投稿ボタン-->
			<td>
				<form action="/newComment" method="get">
					<input type="hidden" name="reportId" th:value="${content.id}"  />
					<input type="submit" value ="コメント新規投稿">
				</form>
			</td>

			<!-- コメント表示 -->
			<th:block th:each="comment : ${contentComments}">
			<!-- コメントのreportのidがcommentのreportIdと一致したときにコメントを表示 -->
			<th:block th:if="${content.id == comment.reportId }">
			<td th:text="${comment.comment}">

			<!-- コメント編集 -->
			<td>
            <a th:href="@{/editComment/{id}(id=${comment.id})}">
			<button type="button">コメント編集</button></a>
			</td>

			<!-- コメント削除 -->
			<td>
                <form th:action="@{/deleteComment/{id}(id = ${comment.id})}" th:method="delete">
                    <input th:onclick="return confirm('本当に削除しますか？')" type="submit" value="削除" />
                </form>
            </td>



			</th:block>
			</th:block>

		</tr>

	</table>
</body>
</html>